
@{
    ViewBag.Title = "Servicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h3>Servicios</h3>

    <p>
        JSON.
    </p>   
    <p><a href="/api/Services/ListOrdenPagoBySucursal/3" class="btn btn-danger" target="_blank">Servicio JSON &raquo;</a></p>
    <p>
        XML.
    </p>
    <p><a href="/api/Services/ListSucursalByBanco/3" target="_blank" class="btn btn-primary">Servicio XML &raquo;</a></p>
</div>


